main {
  padding: 20px;
}

.meme-container {
  margin-inline: auto;
  max-width: 300px;
  margin-bottom: 20px;
}

.meme {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}